In [6]:
#1
t = (1,2,3,4,5) 
print(t)
t = t + (6,7,8,)
print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8)

In [8]:
#2
L=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in L:
    sum+=i
print(sum)

55

In [3]:
#3
L=[1,2,3,4,5,6,7,8,9,10]
mul=1
for i in L:
    mul*=i
print(mul)

3628800

In [6]:
#4
L=[9,4,6,7,9,4,19,14,3,5,17]
min_num=L[0]
for i in range(len(L)):
    if L[i] < min_num:
        min_num = L[i] 
 
print("The smallest number is ",min_num)

The smallest number is  3

In [7]:
#5
L=[9,4,6,7,9,4,19,14,3,5,17]
max_num=L[0]
for i in range(len(L)):
    if L[i] > max_num:
        max_num = L[i] 
 
print("The largest number is ",max_num)

The largest number is  19

In [13]:
#6
L=["ahmed","zeyad","mostafa","morcos","mohamed","alaa"]
counter = 0
for i in L:
    counter+=1
print(counter)

6

In [14]:
#7
L1=[1,2,3,4,5]
print(L1)
L2=L1[:]
print(L2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [17]:
#8
s={0,1,2,3,4,5}
print(s)
s.pop()
print(s)

{0, 1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [19]:
#9
A={1,2,3,4,5,6}
B={1,3,5}
print(B.issubset(A))

True

In [20]:
#10
s={0,1,2,3,4,5}
print(s)
s.clear()
print(s)

{0, 1, 2, 3, 4, 5}
set()

In [23]:
#11
s={7,4,8,3,9,11,2,15,27,6,14}
L=list(s)
min_num=L[0]
max_num=L[0]
for i in range(len(L)):
    if L[i] > max_num:
        max_num = L[i] 
 
print("The largest number is ",max_num)

for i in range(len(L)):
    if L[i] < min_num:
        min_num = L[i] 
 
print("The smallest number is ",min_num)

The largest number is  27
The smallest number is  2

In [28]:
#12
t=("z","e","y","a","d")
index = t.index(input())
print(index)

e
1

In [29]:
#13
T= ((1, "z"), (2, "e"), (3, "a"))
D= dict((x, y) for x, y in T)
print(T)
print(D)

((1, 'z'), (2, 'e'), (3, 'a'))
{1: 'z', 2: 'e', 3: 'a'}

In [35]:
#14
T = ((1,2,3), (4,5,6), (7,8,9))
for i in T:
    print(list(i))

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [37]:
#15
T=(1,2,3,4,5,6)
print(T)
print(T[::-1])

(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [54]:
#16
L=[(1, "z"), (2, "e"), (3, "y")(4, "a"), (5, "d")]
for i in L:
    D= dict((x, y) for x, y in L)
    print(D)

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\Dell\AppData\Local\Temp\ipykernel_14008\536959547.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  L=[(1, "z"), (2, "e"), (3, "y")(4, "a"), (5, "d")]

TypeError: 'tuple' object is not callable

In [47]:
#17
L = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print(L)
print([t[:-1] + (100,) for t in L])

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [52]:
#18
L = [('z', '5.67'), ('e', '3.75'), ('y', '4.87'), ('a', '8.98'), ('d', '13.43')]
print( sorted(L, key=lambda x: float(x[1])))

[('e', '3.75'), ('y', '4.87'), ('z', '5.67'), ('a', '8.98'), ('d', '13.43')]